/* * {
  border: 1px solid black;
} */


:root {
  padding: 0;
  margin: 0;
  --main-color: #FFFFFF;
  --prim-color: #FAFFFE;
  --sec-color: #74bdc7;
  --acc-color: #FC8BAB;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

#nav-bar {
  display: flex;
  position: fixed;
  height: 5vh;
  width: 100vw;
  background-color: white;
  z-index: 1;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
  align-items: center;
  padding: 0 20px;
}

#nav-items-left {
}

#nav-items-right {
  list-style: none;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto; 
  margin-right: 7%;
}

#nav-items-right li {
  display: inline;
  padding: 1vw;
  text-align: right;
}

#nav-items-right li:hover {
  color: var(--acc-color);

}

#nav-items-right li:target {
  color: var(--sec-color);
  transform: scale(1.1);
  text-decoration: none;
}



#page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* height: 180vh; */
  top: 5vh;
}

#home-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--prim-color);
  /* height: 110vh;
  width: 100vh; */
}


#banner {
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34.5vh;
  /* width: 100%; */
  /* background-color: var(--main-color); */
  background-color: var(--acc-color);
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

#pfp-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  bottom: 60px;
}


#page-banner-bg1 {

  border-radius: 50%;
  background-color: var(--sec-color);
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
} 

#page-banner-bg2 {

  border-radius: 50%;
  background-color: var(--acc-color);
  height: 100%;
  width: 100%;
}

#profile-picture {

  border-radius: 50%;
  background-color: var(--acc-color);
  height: 100%;
  width: 100%;
} 

#about-section {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ccdedb;
  height: 100vh;
  width: 100%;
  bottom: 120px;
  z-index: -1;
}

#skills-section {
  
}

#portfolio-section {
  
}

#contact-section {
  
}
