* {
  border: 1px solid black;
}


:root {
  --main-color: #FFFFFF;
  --prim-color: #FAFFFE;
  --sec-color: #5BA0A9;
  --acc-color: #FC8BAB;
}

.App {
  text-align: center;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#nav-bar {
  height: 5vh;
  background-color: white;
}

#page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23.5vh;
}

#page-banner-bg1 {
  display: flex;
  position: absolute;
  border-radius: 50%;
  background-color: var(--sec-color);
  height: 240px;
  width: 240px;
  top: 20.1vh;
}

#page-banner-bg2 {
  display: flex;
  position: absolute;
  border-radius: 50%;
  background-color: var(--acc-color);
  height: 220px;
  width: 220px;
  top: 20.86vh;
}

#profile-picture {
  display: flex;
  position: absolute;
  border-radius: 50%;
  background-color: var(--acc-color);
  height: 210px;
  width: 210px;
  top: 21.3vh;
}